<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhon.recruitmentanalysis.mapper.DataSourceMapper">

    <select id="getAllDataSource" resultType="com.jhon.recruitmentanalysis.pojo.DataSource">
        SELECT *
        FROM RECRUITMENT_ANALYSIS.DATA_SOURCE
        <if test="query !=null and query !=''">
            WHERE DATA_URL LIKE CONCAT('%',#{query},'%')
            OR TABLE_NAME LIKE CONCAT('%',#{query},'%')
        </if>
    </select>

</mapper>