<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhon.recruitmentanalysis.mapper.JobOnlinePositionCountMapper">
    <select id="findAllJobOnlinePositionCount" resultType="com.jhon.recruitmentanalysis.pojo.JobOnlinePositionCount">
        SELECT
            CAST(POSITION AS VARCHAR) AS POSITION,COUNT(*) AS POSITION_COUNT
        FROM "recruitment_analysis"."POSITION_CITY_KEY"
        GROUP BY CAST(POSITION AS VARCHAR)
        ORDER BY POSITION_COUNT DESC
        LIMIT 1000;
    </select>
    <select id="postFindAllJobOnlinePositionCount" resultType="com.jhon.recruitmentanalysis.pojo.JobOnlinePositionCount">
        SELECT POSITION,SUM(NUM) AS POSITION_COUNT
        FROM
        (SELECT CAST(POSITION AS VARCHAR) AS POSITION,COUNT(1) AS NUM
        FROM "recruitment_analysis"."POSITION_CITY_KEY"
        GROUP BY CAST(POSITION AS VARCHAR),CAST(CITY AS VARCHAR)
        HAVING CAST(CITY AS VARCHAR) IN
        <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
            #{city}
        </foreach>
        ) T
        GROUP BY T.POSITION
        ORDER BY POSITION_COUNT DESC;
    </select>
</mapper>