<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhon.recruitmentanalysis.mapper.KeyWordsMapper">

    <select id="getAllKeyWords" resultType="com.jhon.recruitmentanalysis.pojo.KeyWords">
        SELECT *
        FROM RECRUITMENT_ANALYSIS.KEYWORDS
        <if test="query !=null and query !=''">
            WHERE CAST(KEY_VALUE AS VARCHAR) LIKE CONCAT('%',#{query},'%')
            OR CAST(REPLACE_KEY_VALUE AS VARCHAR) LIKE CONCAT('%',#{query},'%')
        </if>
    </select>

    <insert id="addKeyWord" useGeneratedKeys="true" keyProperty="id" parameterType="com.jhon.recruitmentanalysis.pojo.KeyWords">
        INSERT INTO
            RECRUITMENT_ANALYSIS.KEYWORDS(KEY_VALUE,REPLACE_KEY_VALUE,STATUS)
        VALUES (#{keyValue},#{replaceKeyValue},#{status});
    </insert>

    <select id="getKeyWordById" resultType="com.jhon.recruitmentanalysis.pojo.KeyWords">
        SELECT *
        FROM RECRUITMENT_ANALYSIS.KEYWORDS
        WHERE ID = #{id}
    </select>

    <update id="updateKeyWord">
        UPDATE RECRUITMENT_ANALYSIS.KEYWORDS
        SET KEY_VALUE = #{keyValue},REPLACE_KEY_VALUE = #{replaceKeyValue}
        WHERE ID = #{id};
    </update>

    <update id="updateStatus">
        UPDATE RECRUITMENT_ANALYSIS.KEYWORDS
        SET STATUS = #{status}
        WHERE ID = #{id};
    </update>

    <delete id="deleteKeyWord">
        DELETE
        FROM RECRUITMENT_ANALYSIS.KEYWORDS
        WHERE ID = #{id}
    </delete>

</mapper>