<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhon.recruitmentanalysis.mapper.PositionSalaryMapper">

    <select id="getAllPositionSalary" resultType="com.jhon.recruitmentanalysis.pojo.PositionSalary">
        SELECT
            CAST(YEAR AS VARCHAR) AS YEAR,
            CAST(MONTH AS VARCHAR) AS MONTH,
            CAST(POSITION AS VARCHAR) AS POSITION,
            AVG(SALARY_MAX) AS SALARY_MAX,
            AVG(SALARY_MIN) AS SALARY_MIN,
            (AVG(SALARY_MAX)+AVG(SALARY_MIN))/2 AS SALARY_AVG
        FROM RECRUITMENT_ANALYSIS.DATA
        WHERE SALARY_MIN != -1 AND SALARY_MAX != -1
        <if test="position != null">
            AND CAST(POSITION AS VARCHAR) = #{position}
        </if>
        GROUP BY CAST(YEAR AS VARCHAR),CAST(MONTH AS VARCHAR),CAST(POSITION AS VARCHAR)
        ORDER BY YEAR ASC,MONTH ASC,SALARY_MAX DESC
    </select>

    <select id="getAllPositionSalaryByCity" resultType="com.jhon.recruitmentanalysis.pojo.PositionSalary">
        SELECT
            CAST(YEAR AS VARCHAR) AS YEAR,
            CAST(MONTH AS VARCHAR) AS MONTH,
            CAST(POSITION AS VARCHAR) AS POSITION,
            AVG(SALARY_MAX) AS SALARY_MAX,
            AVG(SALARY_MIN) AS SALARY_MIN,
            (AVG(SALARY_MAX)+AVG(SALARY_MIN))/2 AS SALARY_AVG
        FROM RECRUITMENT_ANALYSIS.DATA
        WHERE SALARY_MIN != -1 AND SALARY_MAX != -1 AND CAST(CITY AS VARCHAR) IN
        <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
            #{city}
        </foreach>
        <if test="position != null">
            AND CAST(POSITION AS VARCHAR) = #{position}
        </if>
        GROUP BY CAST(YEAR AS VARCHAR),CAST(MONTH AS VARCHAR),CAST(POSITION AS VARCHAR)
        ORDER BY YEAR ASC,MONTH ASC,SALARY_MAX DESC
    </select>

    <select id="getPositionCount" resultType="map">
        SELECT
            CAST(SALARY_SECTION AS VARCHAR) AS SALARY_SECTION,
            COUNT(CAST(POSITION AS VARCHAR)) AS POSITION_COUNT
        FROM RECRUITMENT_ANALYSIS.KEY_WORDS_COUNT_RELEVANT
        <where>
            <if test="year != null">
                CAST(YEAR AS VARCHAR) = #{year}
            </if>
            <if test="month != null">
                AND CAST(MONTH AS VARCHAR) = #{month}
            </if>
        </where>
        GROUP BY CAST(SALARY_SECTION AS VARCHAR)
    </select>

    <select id="getPositionCountByCity" resultType="map">
        SELECT
            CAST(SALARY_SECTION AS VARCHAR) AS SALARY_SECTION,
            COUNT(CAST(POSITION AS VARCHAR)) AS POSITION_COUNT
        FROM RECRUITMENT_ANALYSIS.KEY_WORDS_COUNT_RELEVANT
        WHERE CAST(CITY AS VARCHAR) IN
        <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
            #{city}
        </foreach>
        <if test="year != null">
            AND CAST(YEAR AS VARCHAR) = #{year}
        </if>
        <if test="month != null">
            AND CAST(MONTH AS VARCHAR) = #{month}
        </if>
        GROUP BY CAST(SALARY_SECTION AS VARCHAR)
    </select>

    <select id="getPositionSalary" resultType="map">
        SELECT
            CAST(YEAR AS VARCHAR) AS YEAR,
            CAST(MONTH AS VARCHAR) AS MONTH,
            CAST(POSITION AS VARCHAR) AS POSITION,
            AVG(SALARY_MAX) AS SALARY_MAX
        FROM RECRUITMENT_ANALYSIS.DATA
        WHERE SALARY_MIN != -1 AND SALARY_MAX != -1
        GROUP BY CAST(YEAR AS VARCHAR),CAST(MONTH AS VARCHAR),CAST(POSITION AS VARCHAR)
        ORDER BY YEAR ASC,MONTH ASC,SALARY_MAX DESC
    </select>

    <select id="getPositionSalaryByCity" resultType="map">
        SELECT
            CAST(YEAR AS VARCHAR) AS YEAR,
            CAST(MONTH AS VARCHAR) AS MONTH,
            CAST(POSITION AS VARCHAR) AS POSITION,
            AVG(SALARY_MAX) AS SALARY_MAX
        FROM RECRUITMENT_ANALYSIS.DATA
        WHERE SALARY_MIN != -1 AND SALARY_MAX != -1 AND CAST(CITY AS VARCHAR) IN
        <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
            #{city}
        </foreach>
        GROUP BY CAST(YEAR AS VARCHAR),CAST(MONTH AS VARCHAR),CAST(POSITION AS VARCHAR)
        ORDER BY YEAR ASC,MONTH ASC,SALARY_MAX DESC
    </select>

    <select id="getHighestSalaryPosition" resultType="map">
        SELECT
            TOP 1
            CAST(POSITION AS VARCHAR) AS POSITION,
            AVG(SALARY_MAX) AS SALARY_MAX
        FROM RECRUITMENT_ANALYSIS.DATA
        <where>
            <if test="year != null">
                CAST(YEAR AS VARCHAR) = #{year}
            </if>
            <if test="month != null">
                AND CAST(MONTH AS VARCHAR) = #{month}
            </if>
        </where>
        GROUP BY CAST(POSITION AS VARCHAR)
        ORDER BY SALARY_MAX DESC
    </select>

    <select id="getHighestSalaryPositionByCity" resultType="map">
        SELECT
            TOP 1
            CAST(POSITION AS VARCHAR) AS POSITION,
            AVG(SALARY_MAX) AS SALARY_MAX
        FROM RECRUITMENT_ANALYSIS.DATA
        WHERE CAST(CITY AS VARCHAR) IN
        <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
            #{city}
        </foreach>
        <if test="year != null">
            AND CAST(YEAR AS VARCHAR) = #{year}
        </if>
        <if test="month != null">
            AND CAST(MONTH AS VARCHAR) = #{month}
        </if>
        GROUP BY CAST(POSITION AS VARCHAR)
        ORDER BY SALARY_MAX DESC
    </select>

    <select id="getPositionBySalary" resultType="map">
        SELECT
            CAST(POSITION AS VARCHAR) AS POSITION,
            COUNT(*) AS POSITION_NUM
        FROM RECRUITMENT_ANALYSIS.ETL_DATA
        WHERE SALARY_MIN != -1 AND SALARY_MAX != -1
        AND SALARY_MIN &gt;= #{minSalary} and SALARY_MAX &lt;= #{maxSalary}
        GROUP BY CAST(POSITION AS VARCHAR)
        ORDER BY POSITION_NUM DESC
        LIMIT 5
    </select>

</mapper>