<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhon.recruitmentanalysis.mapper.PositionNameMapper">

    <resultMap id="map1" type="com.jhon.recruitmentanalysis.pojo.PositionName">
        <result property="position" column="position"/>
        <result property="positionCount" column="POSITION_COUNT"/>
    </resultMap>

    <select id="getAllPositionName" resultType="com.jhon.recruitmentanalysis.pojo.PositionName">
        SELECT
            CAST(YEAR AS VARCHAR) AS YEAR,
            CAST(MONTH AS VARCHAR) AS MONTH,
            CAST(POSITION AS VARCHAR) AS POSITION,
            COUNT(CAST(POSITION AS VARCHAR)) AS POSITION_COUNT
        FROM RECRUITMENT_ANALYSIS.DATA
        GROUP BY CAST(YEAR AS VARCHAR),CAST(MONTH AS VARCHAR),CAST(POSITION AS VARCHAR)
        ORDER BY YEAR ASC,MONTH ASC,POSITION_COUNT DESC
    </select>

    <select id="getAllPositionNameByCity" resultType="com.jhon.recruitmentanalysis.pojo.PositionName">
        SELECT
            CAST(YEAR AS VARCHAR) AS YEAR,
            CAST(MONTH AS VARCHAR) AS MONTH,
            CAST(POSITION AS VARCHAR) AS POSITION,
            COUNT(CAST(POSITION AS VARCHAR)) AS POSITION_COUNT
        FROM RECRUITMENT_ANALYSIS.DATA
        WHERE CAST(CITY AS VARCHAR) IN
        <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
            #{city}
        </foreach>
        GROUP BY CAST(YEAR AS VARCHAR),CAST(MONTH AS VARCHAR),CAST(POSITION AS VARCHAR)
        ORDER BY YEAR ASC,MONTH ASC,POSITION_COUNT DESC
    </select>

    <select id="getHighestPositionCount" resultMap="map1">
        SELECT TOP 1
            CAST(POSITION AS VARCHAR) AS POSITION,
            COUNT(*) AS POSITION_COUNT
        FROM RECRUITMENT_ANALYSIS.DATA
        <where>
            <if test="year != null">
                CAST(YEAR AS VARCHAR) = #{year}
            </if>
            <if test="month != null">
                AND CAST(MONTH AS VARCHAR) = #{month}
            </if>
        </where>
        GROUP BY CAST(POSITION AS VARCHAR)
        HAVING CAST(POSITION AS VARCHAR) != '其他'
        ORDER BY POSITION_COUNT DESC
    </select>

    <select id="getHighestPositionCountByCity" resultMap="map1">
        SELECT TOP 1
            CAST(POSITION AS VARCHAR) AS POSITION,
            COUNT(*) AS POSITION_COUNT
        FROM RECRUITMENT_ANALYSIS.DATA
        WHERE CAST(CITY AS VARCHAR) IN
        <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
            #{city}
        </foreach>
        <if test="year != null">
            AND CAST(YEAR AS VARCHAR) = #{year}
        </if>
        <if test="month != null">
            AND CAST(MONTH AS VARCHAR) = #{month}
        </if>
        GROUP BY CAST(POSITION AS VARCHAR)
        HAVING CAST(POSITION AS VARCHAR) != '其他'
        ORDER BY POSITION_COUNT DESC
    </select>

    <select id="getHighestCityPosition" resultType="map">
        SELECT TOP 1
            CAST(CITY AS VARCHAR) AS CITY,
            COUNT(CAST(POSITION AS VARCHAR)) POSITION_COUNT
        FROM RECRUITMENT_ANALYSIS.DATA
        <where>
            <if test="year != null">
                CAST(YEAR AS VARCHAR) = #{year}
            </if>
            <if test="month != null">
                AND CAST(MONTH AS VARCHAR) = #{month}
            </if>
        </where>
        GROUP BY CAST(CITY AS VARCHAR)
        HAVING CAST(CITY AS VARCHAR) != '市'
        ORDER BY POSITION_COUNT DESC
    </select>

    <select id="getHighestCityPositionByCity" resultType="map">
        SELECT TOP 1
            CAST(CITY AS VARCHAR) AS CITY,
            COUNT(CAST(POSITION AS VARCHAR)) POSITION_COUNT
        FROM RECRUITMENT_ANALYSIS.DATA
        WHERE CAST(CITY AS VARCHAR) IN
        <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
            #{city}
        </foreach>
        <if test="year != null">
            AND CAST(YEAR AS VARCHAR) = #{year}
        </if>
        <if test="month != null">
            AND CAST(MONTH AS VARCHAR) = #{month}
        </if>
        GROUP BY CAST(CITY AS VARCHAR)
        HAVING CAST(CITY AS VARCHAR) != '市'
        ORDER BY POSITION_COUNT DESC
    </select>

    <select id="getCityPosition" resultType="map">
        SELECT
            CAST(YEAR AS VARCHAR) AS YEAR,
            CAST(MONTH AS VARCHAR) AS MONTH,
            CAST(CITY AS VARCHAR) AS CITY,
            COUNT(CAST(POSITION AS VARCHAR)) POSITION_COUNT
        FROM RECRUITMENT_ANALYSIS.DATA
        GROUP BY CAST(YEAR AS VARCHAR),CAST(MONTH AS VARCHAR),CAST(CITY AS VARCHAR)
        HAVING CAST(CITY AS VARCHAR) != '市'
        ORDER BY YEAR ASC,MONTH ASC,POSITION_COUNT DESC
    </select>

    <select id="getCityPositionByCity" resultType="map">
        SELECT
            CAST(YEAR AS VARCHAR) AS YEAR,
            CAST(MONTH AS VARCHAR) AS MONTH,
            CAST(CITY AS VARCHAR) AS CITY,
            COUNT(CAST(POSITION AS VARCHAR)) POSITION_COUNT
        FROM RECRUITMENT_ANALYSIS.DATA
        WHERE CAST(CITY AS VARCHAR) IN
        <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
            #{city}
        </foreach>
        GROUP BY CAST(YEAR AS VARCHAR),CAST(MONTH AS VARCHAR),CAST(CITY AS VARCHAR)
        HAVING CAST(CITY AS VARCHAR) != '市'
        ORDER BY YEAR ASC,MONTH ASC,POSITION_COUNT DESC
    </select>

    <select id="getAllPositionCount" resultType="map">
        SELECT
            CAST(POSITION AS VARCHAR) AS POSITION,
            COUNT(*) AS POSITION_COUNT
        FROM RECRUITMENT_ANALYSIS.DATA
        GROUP BY CAST(POSITION AS VARCHAR)
        ORDER BY POSITION_COUNT DESC
        <if test="limit != null">
            LIMIT #{limit};
        </if>
    </select>

    <select id="getAllPositionCountByCity" resultType="map">
        SELECT
        CAST(POSITION AS VARCHAR) AS POSITION,
        COUNT(*) AS POSITION_COUNT
        FROM RECRUITMENT_ANALYSIS.DATA
        WHERE CAST(CITY AS VARCHAR) IN
        <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
            #{city}
        </foreach>
        GROUP BY CAST(POSITION AS VARCHAR)
        ORDER BY POSITION_COUNT DESC
        <if test="limit != null">
            LIMIT #{limit};
        </if>
    </select>

    <select id="getPositionCityByPosition" resultType="map">
        SELECT
            CAST(CITY AS VARCHAR) AS CITY,
            COUNT(*) AS POSITION_COUNT
        FROM RECRUITMENT_ANALYSIS.DATA
        WHERE CAST(POSITION AS VARCHAR) = #{position}
        GROUP BY CAST(CITY AS VARCHAR)
        ORDER BY POSITION_COUNT DESC
    </select>

    <select id="getPositionCityByPositionCity" resultType="map">
        SELECT
            CAST(CITY AS VARCHAR) AS CITY,
            COUNT(*) AS POSITION_COUNT
        FROM RECRUITMENT_ANALYSIS.DATA
        WHERE CAST(POSITION AS VARCHAR) = #{position} AND CAST(CITY AS VARCHAR) IN
        <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
            #{city}
        </foreach>
        GROUP BY CAST(CITY AS VARCHAR)
        ORDER BY POSITION_COUNT DESC
    </select>

    <select id="getAllPosition" resultType="string">
        SELECT
            CAST(POSITION AS VARCHAR) AS POSITION
        FROM RECRUITMENT_ANALYSIS.DATA
        GROUP BY CAST(POSITION AS VARCHAR)
    </select>

</mapper>